.container
  .row.u-margin-top-lg.u-margin-bottom-xl
    .col-md-12
      %h1 Commit at KubeCon 
      .col-md-5.u-padding-left-0.u-margin-right-sm
        %p.u-margin-top-xs
          The GitLab community is a passionate and knowledgeable group that’s committed to continuous learning. This year, we created a new format for attendees to dive deeper into specific topics at KubeCon. These events are shorter, topic-based events that showcase insightful content designed to enable attendees to return to their teams with practical tips and actionable wisdom. We hope you’ll 
          = link_to "join us at Commit at KubeCon: DevOps", "https://hopin.com/events/commit-at-kubecon-devops?ref=0c5ecf529608", target: "_blank" 
          and Commit at KubeCon: CI. Additional information will be available soon.
        = link_to "Register Now", "https://hopin.com/events/commit-at-kubecon-devops?ref=0c5ecf529608", class: "btn cta-btn orange u-margin-top-xs", target: "_blank" 
      .col-md-5.text-center.u-padding-left-0.u-padding-right-0
        = image_tag "/images/events/gitlab-commit/gitlab-commit-at-kubecon-devops-logo-stacked-white.png", alt: "Commit at KubeCon Logo", style: "max-height: 300px;"
      
